body{
    height: 1080px;

}

.back-button{
    margin: 10px;
    width: 75px;
    height: 30px;
    border: 2px solid #ff9a3c;
    border-radius: 16px;
    background-color: #ff6f3c;
    color: #1e1f22;
}

.ss{
    margin-top: 4px;
    text-align: center;
    font-family: "Barlow Condensed";
    color: #ff6f3c;
}