body{
    background-image: url("Untitled design.jpg");
    height: 1080px;

}

.back-button{
    margin: 10px;
    width: 50px;
    border: none;
    border-radius: 16px;
}

.ss{
    margin-top: 4px;
    text-align: center;
    font-family: "Barlow Condensed";
}