


body{
    /*height: 1080px;*/
    /*background-color: #ae9c94;*/
    background-image: url("BGP.jpg");
}
.all{
    background-image:url("BGP.jpg") ;
    text-align: center;
    align-items: center;
    /*display: grid;*/
    /*column-gap: 25px;*/
    /*grid-template-columns: auto auto auto auto;*/
}
.info img{
    width: 250px;
    height:250px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border: 3px solid #303030;
}

.info-card{
    background-color:#1F1F1F;
    padding-left: 10px;
    padding-top: 10px;
    color: #CBC088;

}
.info-card img{
    width: 250px;
    height: 250px;
    border: 5px solid #FFC853;


}
.info{
    text-align: center;
    padding-top:30px ;
    padding-bottom:10px ;
    color: #303030;
    font-family: "Kalam";
    /*padding-left: 300px;*/
}
.buttons{
    text-align: center;
}
#skill{
    border-left: 5px solid  #FFC853;
    width: 20px;
}
.button{
    padding: 5px;
    width: 120px;
    background-color: #e2cdb2;
    border: 3px solid #303030;
    border-radius: 16px;
    color: #1F1F1F;
}
.btn{
    padding-top: 90px;
}
.button:hover{
    background-color: #303030;
    color: #e2cdb2;
}
.container{
    margin-top: 100px;
    border-radius: 32px;
}
.down{
    margin-top:10px;

}

.about{
    color: #303030;
    font-family: "Barlow Condensed";
    font-size: 20px;
    margin-left: 10px;


}

.skills{
    color: #303030;
    font-family: "Barlow Condensed";
    font-size: 20px;
    margin-left: 10px;
}
.icon{
    text-align: center;
    align-items: center;
    margin: 10px;
    color: #303030;
    color: inherit;
    text-decoration: none;
}

.insta{
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.x{
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.git{
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.mail{
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.in{
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: inherit;
    text-decoration: none;
}
h6{
    color: rgba(48, 48, 48, 0.41);
}
a {
    color: inherit;
    text-decoration: none;
}

