body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
}
.container{
    width: 120px;
    height: 100vh;
    background: #cdcdcd;
    color: black;

}
.container p {
    padding: 5px;
}
.container p:hover , button:hover{
    background: darkgoldenrod;
    cursor: pointer;
}
button{
    background: #cdcdcd;
    color: black;
    border: none;
    border-radius: 5px;
}
#close{
    position: absolute;
    left: 125px;
}
.hide{
    display: none;
}